.ui-menu {
  width: 200px;
}

.empDumpHeadRow {
  background-color: black;
}

span.ausblenden {
  margin-left: 20px;
}

.suchfilter li {
  display: inline;
  list-style: none;
  /*border-style:solid;
  border-color:grey;
  border-width:thin;
  padding: 10px;*/
}
 a.tooltip div.tooltiptext {
  font-weight: normal;
  text-align: left;
  }
  a.tooltip img {
  margin-right:3px;
  }
  a.tooltip > span {
  width:400px !important;
  }